In [107]:
def sample_qry(conn):
    cursor=conn.cursor()
    q=f'''
      select * from ins_crdif_inq_agr_adm limit 1
      '''
    cursor.execute(q)
    for row in cursor:
        print(row)
    conn.close()

import pyodbc
connection_string = (
    'DRIVER=MySQL ODBC 8.0 ANSI Driver;'
    'SERVER=10.149.235.62,3306;'
    'DATABASE=kismdbs;'
    'UID=kisdev;'
    'PWD=insurancetest;'
#     'charset=utf8;'
    'MULTI_HOST=1;'
)
conn=pyodbc.connect(connection_string)
# conn.setencoding(encoding='utf-8')
# sample_qry(conn)
print('completed..')

(1, '10000000000003', '02', '이순자', '7303252011212', 'kpayins070', '02', datetime.datetime(9999, 12, 31, 0, 0), datetime.datetime(2020, 11, 19, 15, 55, 34), '1', datetime.date(2020, 11, 19), datetime.date(9999, 12, 31), None, 'kpayins070', '1', '1', None, None, None, None, None, None, None, None, None, None, '330000034', datetime.date(2020, 11, 19), None, None, None, None, '05', '인증서또는스캔문서번호', '녹취없음', '1234', datetime.datetime(2020, 11, 19, 15, 55, 34), datetime.datetime(2020, 11, 19, 15, 55, 34), None, None, None, None, None, None, None, 'kpayins070', datetime.datetime(2020, 11, 19, 15, 55, 34), 'kpayins070', datetime.datetime(2020, 11, 19, 15, 55, 34))
completed..

In [102]:
import pandas as pd
tbl='ins_crdif_inq_agr_adm'
tbl='ins_cr_scp_rt'
path='c:/kpayins/temp/'+tbl+'.xlsx'
# df=pd.read_excel('c:/kpayins/temp/ins_crdif_inq_agr_adm.xlsx',sheet_name='data',header=0,dtype='object')
df=pd.read_excel(path,sheet_name='data',header=0,dtype='object',na_filter=False)

In [103]:
def make_sql(tbl,row):
    #값이 있는 컬럼의 index to list
    non_empty=[i for i in range(0,len(row)) if row[i] !=""]
    #값이 있는 컬럼명만 추출 to list
    cols=[str(x) for x in row.index[non_empty]]
    #값만 추출 to list
    params=[str(row[i]) for i in non_empty]
#     print(len(cols),len(params))
    q=f'''
      insert into {tbl}
      ( {",".join([str(i) for i in cols])} )
      values 
      ( {",".join(["?" for i in params])} )
     '''
    q= q.replace('\n','')
#     print(q)
    return q,params

cursor=conn.cursor()
for i, row in df.iterrows():
    q,params= make_sql(tbl,row)
    cursor.execute(q, params)
    cursor.commit()
    print(q,params)
cursor.close()
print('completed...')

      insert into ins_cr_scp_rt      ( nrdps_rsno,carno,ins_strdt,scp_rt_seqno,rt_ud_org_flgcd,dvpns_rnwrt_xstn_yn,cr_rt_flgcd,is_crrcd,stdrt,spc_xcrt,rglt_vltcd,rglt_vltrt,rq_stdrt,rq_spc_xcrt,rq_rglt_vltrt,rq_prpbl_is_yn,bfcr_iscmp,bfcr_aprt,rq_dc_xc_grdcd,ap_dc_xc_grdcd,rq_catcd,rq_y1_clm_ct,rq_y3_clm_ct,ap_y1_clm_ct,ap_y3_clm_ct,cr_chncd,rq_rnd_mngbj_yn,inp_usr_id,inp_dthms,mdf_usr_id,mdf_dthms )      values       ( ?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,? )      ['<ENC>7603102670812<ENC>', '19거5019', '20210121', '1', '01', '0', '01', '9', '0', '0', 'C011', '0', '0', '0', '0', '0', '99', '0', '11Z', '11Z', '21', '1', '3', '1', '3', 'MA', '0', 'kpayins049', '20210114', 'kpayins049', '20210114']
completed...

## 이하는 참고용

In [ ]:
# bulk insert 1
for row_count in range(0, df_op.shape[0]):
      chunk = df_op.iloc[row_count:row_count + 1,:].values.tolist()
      tuple_of_tuples = tuple(tuple(x) for x in chunk)
      cursor.executemany("insert into test" + " ([col_name1],   col_name2],[col_name3],[col_name4],[col_name5],[col_name6],[col_name7],[col_name8],[col_name9],[col_name10]) values   (?,?,?,?,?,?,?,?,?,?)",tuple_of_tuples)

In [ ]:
# bulk insert 2
cursor.fast_executemany = True
for row_count in range(0, df_op.shape[0]):
   chunk = df_op.iloc[row_count:row_count + 1,:].values.tolist()
   tuple_of_tuples = tuple(tuple(x) for x in chunk)
   cursor.executemany("insert into test" + " ([col_name1],   col_name2],[col_name3],[col_name4],[col_name5],[col_name6],[col_name7],[col_name8],[col_name9],[col_name10]) values   (?,?,?,?,?,?,?,?,?,?)",tuple_of_tuples)

In [ ]:
# bulk insert 3
import urllib,sqlalchemy
db_params = urllib.parse.quote_plus(connection_string)
engine = sqlalchemy.create_engine("mssql+pyodbc:///?odbc_connect={}".format(db_params))
#df is the dataframe; test is table name in which this dataframe is #inserted
# df.to_sql('ins_crdif_inq_agr_adm,engine',engine,index=False,if_exists="append",schema="dbo")
dt=df.T
dt.to_sql('ins_crdif_inq_agr_adm',con=engine,index=True)

In [ ]:
df.to_sql?

In [ ]:
# bulk insert 4 : 가장 빠름
from sqlalchemy import event
@event.listens_for(engine, "before_cursor_execute")
def receive_before_cursor_execute(
       conn, cursor, statement, params, context, executemany
        ):
       if executemany:
            cursor.fast_executemany = True

df.to_sql(tbl, engine, index=False, if_exists="append", schema="dbo")