In [ ]:
import pyodbc
connection_string = (
    'DRIVER=MySQL ODBC 8.0 ANSI Driver;'
    'SERVER=10.149.235.62,3306;'
    'DATABASE=kismdbs;'
    'UID=kisdev;'
    'PWD=insurancetest;'
#     'charset=utf8;'
    'MULTI_HOST=1;'
)
conn=pyodbc.connect(connection_string)
# conn.setencoding(encoding='utf-8')
cursor=conn.cursor()
# q=f'''
#  select * from ins_crdif_inq_agr_adm
# -- select * from ins_cvrcl_net_av

# '''
# cursor.execute(q)
# for row in cursor:
#     print(row)

# conn.close()
print('completed..')

In [ ]:
import pandas as pd
# df=pd.read_excel('c:/kpayins/temp/ins_crdif_inq_agr_adm.xlsx',sheet_name='data',header=0,dtype='object')
# ss=list(df.loc[0,:])
# ss1=[str(x).replace('nan','NULL') for x in ss]
df=pd.read_excel('c:/kpayins/temp/ins_crdif_inq_agr_adm.xlsx',sheet_name='data',header=0,dtype='object',na_filter=False)
ss=list(df.loc[0,:])
params=[str(x) for x in ss]

In [ ]:
cols=list(df.columns)
q=f'''
 insert into ins_crdif_inq_agr_adm
 ( {",".join([str(x) for x in cols])} )
 values 
 ( {",".join(["?" for x in params])} )
'''
q=q.replace('\n','')

In [ ]:
#q='update ins_crdif_inq_agr_adm set wrcs_kndcd="55" where aid=20'
cursor1=conn.cursor()
cursor1.execute(q, params)
cursor1.commit()

In [ ]:
pd.read_excel?

In [ ]:
# bulk insert 1
for row_count in range(0, df_op.shape[0]):
      chunk = df_op.iloc[row_count:row_count + 1,:].values.tolist()
      tuple_of_tuples = tuple(tuple(x) for x in chunk)
      cursor.executemany("insert into test" + " ([col_name1],   col_name2],[col_name3],[col_name4],[col_name5],[col_name6],[col_name7],[col_name8],[col_name9],[col_name10]) values   (?,?,?,?,?,?,?,?,?,?)",tuple_of_tuples)

In [ ]:
# bulk insert 2
cursor.fast_executemany = True
for row_count in range(0, df_op.shape[0]):
   chunk = df_op.iloc[row_count:row_count + 1,:].values.tolist()
   tuple_of_tuples = tuple(tuple(x) for x in chunk)
   cursor.executemany("insert into test" + " ([col_name1],   col_name2],[col_name3],[col_name4],[col_name5],[col_name6],[col_name7],[col_name8],[col_name9],[col_name10]) values   (?,?,?,?,?,?,?,?,?,?)",tuple_of_tuples)

In [ ]:
# bulk insert 3
import urllib,sqlalchemy
db_params = urllib.parse.quote_plus(connection_string)
engine = sqlalchemy.create_engine("mssql+pyodbc:///?odbc_connect={}".format(db_params))
#df is the dataframe; test is table name in which this dataframe is #inserted
# df.to_sql('ins_crdif_inq_agr_adm,engine',engine,index=False,if_exists="append",schema="dbo")
dt=df.T
dt.to_sql('ins_crdif_inq_agr_adm',con=engine,index=True)

In [ ]:
df.to_sql?

In [ ]:
# bulk insert 4 : 가장 빠름
from sqlalchemy import event
@event.listens_for(engine, "before_cursor_execute")
def receive_before_cursor_execute(
       conn, cursor, statement, params, context, executemany
        ):
       if executemany:
            cursor.fast_executemany = True

df.to_sql(tbl, engine, index=False, if_exists="append", schema="dbo")